/* FONTS */
@font-face {
	font-family: 'Roboto';
	src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../assets/fonts/Roboto/Roboto-Medium.ttf');
	font-style: medium;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../assets/fonts/Roboto/Roboto-Light.ttf');
	font-style: light;
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../assets/fonts/Roboto/Roboto-Bold.ttf');
	font-style: bold;
	font-weight: 700;
	font-display: swap;
}

/* COLOR */
:root {
	--blue: #005bcb;
	--grey: #f8f9f9;
	--grey--dark: #d8d8d8;
	--grey--logo: #989898;
	--dot--primary: #a4a4a4;
	--dot--active: #4a4a4a;
	--link--active: #ff2500;
	--accent: #ffffff;
	--primary: #141414;
}

/* RESET */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
	margin: 0;
	padding: 0;
}

ul,
ol,
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
	color: var(--primary);
	font-size: 1.2rem;
}

a {
	color: inherit;
	text-decoration: none;
	transition: all ease 200ms;
}

a:hover {
	color: var(--link--active);
}

img,
picture {
	max-width: 100%;
	display: block;
	margin: 0;
}

input,
button,
textarea,
select {
	font: inherit;
}

h1,
h2,
h3,
h4 {
	font-weight: bold;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* UTILITY */
.caps {
	text-transform: uppercase;
}

.container {
	width: min(87%, 1240px);
	margin: 0 auto;
}

.container--wide {
	width: min(94%, 1240px);
	margin: 0 auto;
}

.container--ultra-wide {
	max-width: 1600px;
	width: 94%;
	margin: 0 auto;
}

.flex {
	display: flex;
}

.margin--top {
	margin-top: 1rem;
}

.block {
	display: block;
}

button.button {
	transition: all ease-out 250ms;
}

.button {
	background-color: var(--primary);
	color: var(--accent);
	text-transform: uppercase;
	font-size: 0.85rem;
	font-weight: 500;
	letter-spacing: 1.5px;
	border: none;
	border-radius: 5px;
	padding: 0.8rem 0;
	cursor: pointer;
}

.button:hover {
	background-color: var(--accent);
	color: var(--primary);
	box-shadow: 5px 6px 10px -5px rgba(0, 0, 0, 0.23);
	transform: translate(0, -3px);
}

.button--med {
	width: 145px;
}

.button--large {
	width: 280px;
}

/* ANNOUNCEMENT BANNER */
.header__announcement-bar {
	background-color: var(--blue);
	padding: 0.9rem 0;
}

.announcement-bar__link h4 {
	color: var(--accent);
	text-align: center;
	font-size: 0.7rem;
	letter-spacing: 2px;
}

.announcement-bar__link h4:hover::before,
.announcement-bar__link h4:hover::after {
	content: '🎉';
	padding: 0 1rem;
}

/* TOP NAVIGATION */
header div img {
	cursor: pointer;
}

.header__nav--mobile {
	padding: 1.5rem 0;
	position: relative;
}

.header__nav--mobile > div {
	justify-content: space-between;
	align-items: center;
}

.header__nav--desktop {
	display: none;
	padding: 2.75rem 0 3.4rem;
	position: relative;
}

.header__nav--desktop > div {
	justify-content: space-between;
	align-items: flex-end;
}

.header__nav--desktop a {
	font-size: 0.9rem;
}

.header__nav--desktop p,
.header__nav--desktop p a {
	font-size: 0.8rem;
	text-align: center;
}

.header__nav--desktop p > a {
	text-decoration: underline;
}

.nav-links {
	padding-bottom: 0.5rem;
	padding-left: 2rem;
	padding-right: 1.5rem;
	transition: all ease 200ms;
}

.nav-links > nav {
	justify-content: space-between;
	letter-spacing: 2px;
	max-width: 550px;
	font-weight: 500;
}

.nav-search {
	padding-left: 2rem;
	padding-right: 1.5rem;
	padding-bottom: 0.3rem;
	position: relative;
}

.nav-search input {
	border: 1px solid var(--grey--dark);
	box-shadow: none;
	height: 100%;
	width: 90%;
	background: transparent;
	border-radius: 25px;
	padding-bottom: 0.35rem;
}

.nav-search input::placeholder {
	font-size: 0.65em;
	padding-left: 1rem;
}

.nav-search::before {
	content: url(../assets/images/search-icon.svg);
	position: absolute;
	width: auto;
	height: auto;
	top: 2px;
	right: 67px;
	z-index: 100;
}

.nav-group {
	justify-content: space-between;
	max-width: 175px;
}

.nav-account {
	padding-bottom: 0.2rem;
	color: var(--grey--logo);
}

.nav-divider {
	width: 1px;
	height: 32px;
	background-color: var(--grey--dark);
}

.nav-icon__hamburger img {
	width: 25px;
}

.nav-icon__cart {
	position: relative;
	padding: 0.2rem 0;
	transition: all ease-out 100ms;
}

.nav-icon__cart::before {
	content: '3';
	text-align: center;
	font-size: 8px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	top: 0;
	right: 0;
	position: absolute;
	background-color: var(--blue);
	color: var(--accent);
}

.nav-icon__cart:hover::before {
	background-color: var(--link--active);
}

.nav-logo img {
	width: 150px;
	padding-bottom: 0.2rem;
}

/* HERO SECTION */
.hero {
	margin-bottom: 7rem;
}

.hero__container {
	height: 600px;
	max-width: 2000px;
	margin: 0 auto;
	position: relative;
}

.hero__background-image {
	position: relative;
	z-index: -10;
}

.hero__background-image img {
	object-fit: cover;
	height: 350px;
	object-position: right top;
}

.hero__info-container {
	margin-top: -7rem;
	max-width: 775px;
}

.hero__info {
	background-color: var(--accent);
	border: 1.5px solid var(--grey--dark);
	padding: 1.75rem 1rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all ease 90ms;
}

.hero-info__text {
	text-align: center;
	padding: 0 1.7rem 1rem;
}

.hero__info p {
	letter-spacing: 1px;
	font-size: 1.1rem;
	font-weight: 500;
	transition: all ease 150ms;
}

.hero-info__text h2 {
	font-size: 2.5rem;
	line-height: 1.1;
	letter-spacing: 3px;
	transition: all ease 150ms;
}

.hero-info__buttons {
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.hero__dots {
	width: 70px;
	margin: 2rem auto 0;
	justify-content: space-between;
	align-items: center;
	transition: all ease-out 250ms;
}

.dot {
	height: 13px;
	width: 13px;
	background-color: var(--dot--primary);
	border-radius: 50%;
	display: inline-block;
}

.dot--active {
	background-color: var(--dot--active);
}

/* SUMMER CTA SECTION */
.summer-cta {
	margin-bottom: 2.75rem;
	height: 550px;
}

.summer-cta__container {
	height: 100%;
	position: relative;
}

.summer-cta__background-image img {
	width: 100%;
	margin: 0;
}

.summer-cta__info {
	position: absolute;
	top: 13.5rem;
	background-color: var(--accent);
	padding: 1rem;
	transition: all ease-out 350ms;
}

.summer-cta__info > div {
	padding: 1.25rem;
	border: 2px solid var(--grey--dark);
	transition: padding ease-out 250ms;
}

.summer-cta__info > div h3 {
	font-size: 2.2rem;
}

.summer-cta__info > div p {
	letter-spacing: 2px;
}

.summer-cta__info > div button {
	margin: 2rem auto 1rem;
	font-size: 0.9rem;
}

/* ARRIVAL CARDS SECTION */
.department-card {
	flex-direction: column;
	margin-bottom: 2rem;
	align-items: center;
}

.department-cards__container {
	margin-bottom: 4rem;
}

.department-card {
	width: min(100%, 900px);
	margin: 1.5rem auto 0;
	transition: all ease-in-out 150ms;
}

.department-card__image,
.department-card__image img {
	width: 100%;
	height: auto;
}

.department-card__info {
	flex-direction: column;
	padding: 3rem 1rem 3.5rem;
	text-align: center;
	transition: all ease-in-out 250ms;
}

.department-card p {
	font-size: 1rem;
	letter-spacing: 1.5px;
	max-width: 260px;
	margin-inline: auto;
}

.card__text h3 {
	font-weight: 500;
	letter-spacing: 2.75px;
}

.card__links {
	width: 280px;
	margin-inline: auto;
}

.card__links ul li:nth-child(odd) {
	transition: all ease-in-out 100ms;
}

.card__links ul li:nth-child(odd):hover {
	transform: scale(1.05);
}

.card__links ul {
	justify-content: space-between;
}

.card__links ul li {
	font-size: 0.95rem;
}

.card__links ul li a {
	font-weight: 500;
	letter-spacing: 2px;
	text-decoration: underline;
}

/* VALUE PROPS SECTION */
.value-props {
	background-color: var(--grey);
	padding: 4rem 1rem;
	margin-bottom: 7rem;
}

.value-prop {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.value-prop:nth-child(2) {
	margin: 2.5rem auto;
}

.value-prop__icon img {
	width: 90%;
}

.value-prop__text {
	font-size: 1.2rem;
	letter-spacing: 1.6px;
	text-align: center;
}

/* FOOTER */
.footer {
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 4rem;
	max-width: 320px;
	margin-inline: auto;
}

.footer img {
	width: min(70%, 100px);
	margin: 0 auto 0.3rem;
}

.footer p {
	font-size: 1rem;
	letter-spacing: 1.2px;
	color: var(--grey--logo);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 360px) {
	.hero {
		margin-bottom: 9.4rem;
	}
}

@media only screen and (min-width: 450px) {
	.hero__background-image img {
		height: 100%;
	}

	.hero__container {
		margin-bottom: 2rem;
		height: 100%;
	}

	.summer-cta {
		height: 600px;
	}

	.summer-cta__info {
		margin-inline: 0.5rem;
		padding: 2.5rem;
	}

	.department-card p {
		max-width: 450px;
	}
}

@media only screen and (min-width: 715px) {
	.hero__background-image img {
		width: 100%;
	}

	.hero__dots {
		width: 50px;
	}

	.dot {
		height: 10px;
		width: 10px;
	}

	.summer-cta__info {
		width: 640px;
		top: 9.75rem;
	}

	.summer-cta__info p {
		font-size: 1rem;
	}

	.summer-cta__background-image img {
		object-fit: contain;
		object-position: right top;
		max-height: 700px;
	}

	.department-cards {
		margin-top: 2rem;
	}

	.value-props {
		padding-block: 1rem;
	}
}

@media only screen and (min-width: 850px) {
	.announcement-bar__link h4 {
		font-size: 0.8rem;
		letter-spacing: 2.2px;
	}

	.hero__container {
		margin-bottom: 2rem;
		height: 100%;
	}

	.hero__background-image::before {
		content: '<';
		background-color: var(--dot--active);
		position: absolute;
		width: 50px;
		height: 50px;
		top: 50%;
		left: 0;
		color: var(--accent);
		opacity: 0.5;
		padding-left: 13px;
		padding-bottom: 60px;
		font-size: 2.5rem;
	}

	.hero__background-image::after {
		content: '>';
		background-color: var(--dot--active);
		position: absolute;
		width: 50px;
		height: 50px;
		top: 50%;
		right: 0;
		color: var(--accent);
		opacity: 0.5;
		padding-left: 17px;
		padding-bottom: 60px;
		font-size: 2.5rem;
	}

	.summer-cta {
		height: 725px;
	}

	.summer-cta__info:hover {
		box-shadow: 5px 6px 10px -5px rgba(0, 0, 0, 0.23);
		transform: translate(0, -4px);
	}

	.summer-cta__info > div {
		padding: 3.5rem;
	}

	.department-card {
		position: relative;
		margin-bottom: 3rem;
	}

	.department-card__info {
		position: absolute;
		bottom: 2rem;
		left: 2rem;
		right: 2rem;
		background: white;
	}

	.department-card__info:hover {
		box-shadow: 5px 6px 10px -5px rgba(0, 0, 0, 0.23);
		transform: translate(0, -4px);
	}

	.card__text h3 {
		font-size: 1.7rem;
	}

	.value-props__container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

@media only screen and (min-width: 1020px) {
	.header__nav--desktop {
		display: block;
	}

	.header__nav--mobile {
		display: none;
	}

	.nav-logo,
	.nav-group {
		flex-grow: 1;
	}

	.nav-logo img {
		width: 205px;
	}

	.nav-links {
		flex-grow: 4;
	}

	.hero__info {
		background-color: transparent;
		border: none;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 680px;
	}

	.hero-info__text {
		max-width: 650px;
	}

	.hero-info__text h2 {
		font-size: 4.5rem;
		letter-spacing: 6px;
		margin-block: 2rem;
	}

	.hero__dots {
		margin: 4rem auto 0;
	}

	.value-prop__icon img {
		width: 110%;
	}
}

@media only screen and (min-width: 1350px) {
	.nav-links {
		padding-left: 3rem;
		padding-right: 6rem;
	}

	.hero__info {
		top: 7.5rem;
		left: 10%;
		transform: none;
	}

	.hero-info__text h2 {
		font-size: 5.25rem;
		letter-spacing: 6px;
		margin-block: 2.5rem;
	}

	.summer-cta__container {
		max-width: 1800px;
		margin: 0 auto;
	}

	.summer-cta__info {
		margin-left: 11rem;
	}

	.department-cards__container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		max-width: 1800px;
		margin: 1rem auto;
		padding: 0 1.5rem;
	}

	.department-card:first-child {
		margin-right: 1rem;
	}

	.department-card:last-child {
		margin-left: 1rem;
	}
}

@media only screen and (min-width: 1600px) {
	.summer-cta__container {
		padding: 0 1.5rem;
	}

	.summer-cta__info {
		margin-left: 15rem;
	}
}
